@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,500;0,600;1,300&display=swap');

:root{
    --blue:#2875f1;
    --white:#fff;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    border: none;
    outline: none;
    transition: .3s all linear;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

html{
    font-size: 66%;
    overflow-x: hidden;
}

nav{
    background: var(--blue);
}

.not-visible{
    display: none;
}

.product-image{
    height: 6rem;
    width: 6rem;
    object-fit: cover;
}

.product-filter .container .row .search-box{
    position: relative
}

.product-filter .container .row .search-box .result-card{
    position: absolute;
    z-index: 100;
    width: 98%;
    border-radius: 1rem;
    background: #f5f5f5;
}

nav .container .nav-list.nav-active{
    left: 0%;
}


nav .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}

nav .container .logo a{
    text-decoration: none;
    font-size: 2.5rem;
    color: var(--white);
}

nav .container .nav-list{
    list-style: none;
    display: flex;
    padding-top: 1rem;
}

nav .container .nav-list li{
    margin-left: 2rem;
}

nav .container .nav-list li a{
    font-size: 1.6rem;
    padding: 0 1rem;
    color: var(--white);
    text-decoration: none;
}

.hero-banner{
    height: 60vh;
    width: 100vw;
}

.hero-banner img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.services{
    margin: 5rem 0;
}

.services .box-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.services .box-container .box{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    width: 30rem;
    margin: 0 1rem;
}

.services .box-container .box i{
    font-size: 2rem;
}

.services .box-container .box .box-text h3{
    font-size: 2rem;
}


.top-mobiles{
    background: #f5f5f5;
    padding: 2rem 0;
}

.top-mobiles .box-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.top-mobiles h1{
    font-size: 3rem;
    margin: 5rem 9rem;
}

.top-mobiles .box-container a .box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 20rem;
    width: 30rem;
    padding: 1rem;
    background: var(--white);
    margin: 2rem;
}

.top-mobiles .box-container a .box img{
    height: 15rem;
}

.top-mobiles .box-container a .box p{
    font-size: 2rem;
}




.payment-ways{
    margin: 5rem 0;
}

.payment-ways .row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.payment-ways .container-fluid .row .box{
    padding: 1rem;    
    border: .1rem solid rgba(0, 0, 0, 0.3);
}

.payment-ways .container-fluid .row .box img{
    height: 100%;
    width: 100%;
}

footer small{
    font-size: 1.5rem;
}

.fa-bars{
    color: var(--white);
    font-size: 2.8rem;
    cursor: pointer;
    display: none;
}



.product-filter .container .row{
    margin: 2rem 0;
}

.product-filter .container .row.col-4,.col-8{
    font-size: 2rem;
}



.products .container{
    justify-content: center;
    align-items: center;
    padding-right: 4rem;
}

.products .owl-carousel{
    margin: 0 2rem;
}

.products .owl-carousel .box{
    display: flex;
    flex-direction: column;
}

.products .owl-carousel .box .title{
    height: 5rem;
}

.products .owl-carousel .box .fs-4, .price{
    padding: 0 2rem;
}

.products .owl-carousel .box .price{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.products .owl-carousel .box .btn{
    font-size: 2rem;
}






.contact .contact-us{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

.contact .contact-us .contact-details{
    width: 30rem;
    background: #f5f5f5;
    padding: 7rem 2rem;
}


.contact .contact-us .contact-details .my-3{
    display: flex;
    align-items: center;
}

.contact .contact-us .contact-details .my-3:hover i{
    background: var(--blue);
    color: var(--whites);
}

.contact .contact-us .contact-details .my-3 i{
    font-size: 1.5rem;
    height: 4rem;
    width: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    border-radius: 50%;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    margin-right: 2rem;
}

.contact .contact-us .contact-details .my-3 span{
    font-size: 1.8rem;
    text-transform: none;
}

.contact .contact-us .contact-details .follow{
    margin: 5rem 0;
}

.contact .contact-us .contact-details .follow h2{
    font-size: 2.5rem;
    margin: 2rem 0;
}

.contact .contact-us .contact-details .follow .social{
    font-size: 2rem;
    color: black;
    display: flex;
}

.contact .contact-us .contact-details .follow .social a{
    text-decoration: none;
    margin-right: 2rem;
}

.contact .contact-us .contact-form{
    flex: 1 1 42rem;
    background: #f5f5f5;
    padding: 5rem;
}

.contact .contact-us .contact-form .inputBox{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1rem 0;
}

.contact .contact-us .contact-form .inputBox input, textarea{
    border-radius: 5rem;
    padding: 1rem;
    font-size: 1.2rem;
    width: 49%;
    border: .1rem solid rgba(0, 0, 0, 0.3);
    text-transform: none;
}
.contact .contact-us .contact-form .inputBox:nth-child(2) input{
    width: 100%;
}

.contact .contact-us .contact-form .inputBox textarea{
    border-radius: 1rem;
    width: 100%;
}

.contact .contact-us .contact-form .btn{
    font-size: 1.5rem;
}


.about .about-site .row .box h1{
    font-size: 3rem;
    margin-bottom: 2rem;
}

.about .about-site .row .box p{
    font-size: 1.5rem;
    font-weight: 300;
}

.about .about-us{
    margin-top: 5rem;
}

.about .about-us .row{
    gap: 2rem;
    display: flex;
    justify-content: center;
}

.about .about-us .row .box{
    padding: 2rem;
    margin: 1rem;
}


.product_detail .container .row .product-about{
    margin-top: 5rem;
}



.registration{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
}

form .form-group label{
    font-size: 1.6rem;
    margin-top: 2rem;
    padding: 0.5rem 0;
}

form .form-group input{
    text-transform: none;
}

form .form-group .error{
    font-size: 1.4rem;
}



.product_detail .owl-carousel{
    margin: 0 2rem;
}

.product_detail .owl-carousel .box{
    display: flex;
    flex-direction: column;
}

/* .product_detail .owl-carousel .box img{
    height: 30rem;
} */


.product_detail .container .owl-carousel{
    /* background: #000; */
    padding-right: 4rem;
}

.product_detail .container .owl-carousel .title{
    height: 5rem;
    /* background: #000; */
}

.product_detail .owl-carousel .box .fs-4, .price{
    padding: 0 2rem;
}

.product_detail .owl-carousel .box .price{
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.product_detail .owl-carousel .box .btn{
    font-size: 2rem;
}


.reset-password{
    height: 83vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



@media(max-width:1000px){
    html{
        font-size: 60%;
    }
}

@media screen and (max-width:800px){    
    nav .container .nav-list{
        position: absolute;
        top: 5.5rem;
        flex-direction: column;
        background: var(--blue);
        width: 30rem;
        left: -120%;
        height: 100vh;
        z-index: 1000;
    }

    .cart-top a i{
        color: var(--white);
        font-size: 2.5rem;
    }

    .cart-top{
        position: relative;
        display: block !important;
        left: 30%;
    }

    .cart{
        display: none;
    }
    
    nav .container .nav-list li{
        margin: 2rem 0;
        border-bottom: .3rem solid rgba(0, 0, 0, 0.3);
    }
    
    .fa-bars{
        display: block;
    }
        
    .contact .contact-us .contact-details{
        width: 100%;
    }
    .top-mobiles .box-container a .box{
        width: 40rem;
    }
}


@media screen and (max-width:550px){
    html{
        font-size: 55%;
    }
    nav .container{
        padding: 1rem 2rem;
    }
    .product-filter .container .row .search-box{
        width: 100%;
    }
    .product_detail .container{
        padding: 2rem;
    }
    .services .box-container .box{
        width: 80%;
    }
    .top-mobiles .box-container a .box{
        width: 35rem;
    }
    .cart-top{
        left: 20%;
    }
    .contact .container .contact-us .contact-form{
        padding: 2rem;
    }
}


@media screen and (max-width:350px){
    .cart-top{
        left: 15%;
    }
}

