{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>


    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    {% block style %}{% endblock style %}

    <title>
        {% block title %}{% endblock title %}
    </title>
  </head>
  <body>

      <nav>
        <div class="container">
          <div class="logo">
            <a href="#">PhoneSeller</a>
          </div>
          
          <li class="cart-top d-none"><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i> <span>10</span></a></li>

          <div id="menu" class="fa fa-bars"></div>
          
          <ul class="nav-list">
            <li><a href="{% url 'home' %}">home</a></li>
            <li><a href="{% url 'products' %}">products</a></li>
            <li><a href="{% url 'about' %}">about</a></li>
            <li><a href="{% url 'contact' %}">contact</a></li>
            {% if request.user.is_authenticated %}
            <li><a href="{% url 'account' %}">account</a></li>
            {% else %}
            <li><a href="{% url 'accountregister' %}">account</a></li>
            {% endif %}
            <li class="cart"><a href="{% url 'cart' %}"><i class="fa fa-shopping-cart"></i></a></li>
          </ul>
        </div>
      </nav>

      {% block body %}{% endblock body %}

      <footer class="container-fluid bg-dark text-center p-2 mt-5">
        <small class="text-white">Copyright © 2022 || Designed By Sahil Maheriya || </small>
      </footer>

      
      
      
      
      <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
      
      {% block script %}{% endblock script %}
      
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      
      <script src="{% static 'js/script.js' %}"></script>
  </body>
</html> 